body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

a {
  padding-left: 10px;
  background-color: rgb(150, 170, 255);
}

div {
  text-align: center;
  width: 25%;
  background-color: rgb(20, 180, 150);
  display: block;
  float: left;
}